# ==========================================
# CẤU HÌNH DATABASE (MySQL/MariaDB)
# ==========================================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cashflow_db
DB_USER=root
DB_PASS=

# ==========================================
# CẤU HÌNH GOOGLE GEMINI AI
# ==========================================
GEMINI_API_KEY=
GEMINI_API_NAME='gemini-3.1-flash-lite'
# ==========================================
# CẤU HÌNH PHPMAILER (Gửi email)
# ==========================================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=bongrong009kk@gmail.com
MAIL_PASSWORD="cgsz sxjk lphy naov"
MAIL_FROM_ADDRESS="no-reply@cashflow.com"
MAIL_FROM_NAME="CashFlow System"

# ==========================================
# CẤU HÌNH HỆ THỐNG
# ==========================================
APP_URL=http://localhost/CashFlow
AI_SERVICE_URL=http://localhost:5000